.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
    font-size: 0.9rem;
}

.pagination-page {
    color: var(--color-text-secondary);
}
